*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: whitesmoke;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
    font-size: 2.5rem;
    color: chocolate;
}

.underline{
    display: block;
    width: 500px;
    height: 5px;
    background-color: chocolate;
    margin: 5px auto 30px auto;
    border-radius: 5px;
    animation: slide 1.5s forwards;
}

@keyframes slide{
    from{
        transform: translateX(-200px);
        color: white;
    }
    to{
        transform: translateX(0px);
    }
}
.faq-img img{
    width: 500px;
    height: auto;
    margin-right: 50px;
}

.content{
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 20px 10px;
}

.up-icon, .down-icon{
    font-size: 1.5rem;
    color: chocolate;
}
.question-answer{
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
}
.question-answer:last-child{
    border-bottom: none;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.question h3{
    font-size: 1.2rem;
    color: chocolate;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button .up-icon{
    display: none;
    border: transparent;
}
.answer{
    display: none; 
    margin-top: 10px;
    color: gray;
    line-height: 1.5rem;
    font-size: 1rem;
}

.active{
    display: block;
}

.active .up-icon{
    display: inline;
}

.active .down-icon{
    display: none;
}
@media (max-width: 900px){
    .container{
        flex-direction: column;
    }
    .faq-img img{
        width: 300px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .content{
        width: 90%;
    }
}
